
* {
  box-sizing: border-box
}
.Sidebar {
  display: inline-block;
  width: 20%;
  margin: 0 10px;
  
  
}
.Main {
  float: right;
  /* display: inline-block; */
  width: 75%;
  /* margin: 0 auto; */
}
.App-header {
  text-align: center;
}
.highlighted {
  background-color: lightskyblue;
}
.errorMessage {
  color: red;
}
